body{
	background-color: #F2FFFC;
	font-family: "Crimson Text","Times New Roman", serif;
}
main h1{
	font-size: 60px;
	background-color: #851944;
	color: #FAFFFA;
	text-align: center;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	margin: -8px;
	padding: 25px;
}
h2{
	font-size: 40px;
	font-family: "Open Sans Condensed", sans-serif;
}
p{
	text-align: justify;
}
footer{
	color: #FAFFFA;
	background-color: #000000;
	position: relative;
	padding: 20px;	
}
aside{
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
blockquote{
	background-color: #D3DDDA;
	padding: 20px;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin-left: 770px;
}
aside nav{
	padding: 20px;
}
.textoPrin{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}